[submodule "eza"]
	path = eza
	url = git@github.com:eza-community/eza.git
[submodule "bat/bat-extras"]
	path = bat/bat-extras
	url = git@github.com:eth-p/bat-extras.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:jakekausler/ohmyzsh.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:jakekausler/nvim.git
